﻿@model WebLayer.Models.CalculationModel
@{
    ViewBag.Title = "Ajax MODEL";
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}
<h2>Ajax WITH MODEL</h2>
<p id="calculateResults"></p>
@using(Ajax.BeginForm("CalculateWithModel", "Form",new AjaxOptions() { UpdateTargetId = "calculateResults" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="editor-label">
        @Html.LabelFor(m => m.Amount)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Amount)

    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.Rate)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Rate)

    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.Years)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Years)

    </div>
    <input type="submit" value="SEND" />
    
}

