﻿
@{
    ViewBag.Title = "Ajax";
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}
<h2>Ajax</h2>
<p>ViewBag: @ViewBag.FormResults</p>
<p id="calculateResults"></p>
@using(Ajax.BeginForm("Calculate", "Form",new AjaxOptions() { UpdateTargetId = "calculateResults" })) {
    <table>
        <tr>
            <td>@Html.Label("Total amount")</td>
            <td>@Html.TextBox("amount")</td>
            
        </tr>
        <tr>
            <td>@Html.Label("Yearly interest rate")</td>
            <td>@Html.TextBox("rate")</td>

        </tr>
        <tr>
            <td>@Html.Label("Number of years")</td>
            <td>@Html.TextBox("year")</td>

        </tr>
        <tr>
            <td><input type="submit" value="SEND" /></td>
        </tr>
    </table>
    
}

