﻿
@{
    ViewBag.Title = "Dept Management";
}

<h2>Departments</h2>

<div class="container" >
    <h2>Add Department</h2>
    <input type="text" id="deptId" />
    <input type="text" id="deptName" />
    <input type="text" id="deptLocation"/>
    <input type="button" value="ADD" id="addDept" class="btn btn-primary"/>
    <hr />
    <h2>Dell Department</h2>
    <input type="text" id="delDeptId" />
    <input type="button" value="DEL" id="delDept" style="background-color:#ff00e2; color:#19f500" class="btn btn-danger"/>
    <hr/>
    <ul id="depts"></ul>
</div>

@section scripts{
    
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <!--
    XSS/Cross Site Scripting, Script Injection
    CSRF=Cross Site Request Forgery
        -->
    <script language="javascript">
        function htmlEncode(value) {
            var newValue = $('<div />').text(value).html();
            return newValue;
        }

        function addDeptToList(dept) {
            $('#depts').append('<li><em>[' + htmlEncode(dept.deptno) + ']</em> ' + '<strong>' + htmlEncode(dept.dname) + '</strong>' +
                ' at ' + htmlEncode(dept.loc) + '</li>');
        }

        function refreshAll() {
            $('#depts').html('');
            $.getJSON('api/test/depts')
                .done(function (data) {
                    $.each(data, function (key, item) {
                        addDeptToList(item);
                    });
                })
                .fail(function (jqXHR, textStatus, err) {
                    alert(err);
                });
        }
        $(document).ready(function () {
            refreshAll();

            var hub = $.connection.deptHub;

            hub.client.refresh = function () {
                refreshAll();
            };

            hub.client.deptAdded = function (dept) {
                addDeptToList(dept);
            };

            $.connection.hub.start().done(function () {
                $('#addDept').click(function () {
                    var dept = {
                        deptno: $('#deptId').val(),
                        dname: $('#deptName').val(),
                        loc: $('#deptLocation').val()
                    };
                    hub.server.addDept(dept);
                    
                });
                $('#delDept').click(function () {
                    hub.server.delDept($('#delDeptId').val());
                });
            });
        });
    </script>
}
