﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <!--
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                -->
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Login/Logout", "Index", "User")</li>
                <li>@Html.ActionLink("Chart + id", "Chart", "Home", new { id = 7788 }, new { target = "_blank" })</li>
                <li>@Html.ActionLink("Chart + name", "Chart", "Home",new { name = "king" }, new { target = "_blank" })</li>
                <li>@Html.ActionLink("Form", "Index", "User")</li>
                <li>@Html.ActionLink("Form + AJAX", "Ajax", "Form")</li>
                <li>@Html.ActionLink("Form+ AJAX+ Model", "AjaxModel", "Form")</li>
                <li>@Html.ActionLink("Depts CRUD","Index","Crud")</li>

            </ul>
            </div>
</div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @{  string greeting = "Welcome, today is ";
            string day = DateTime.Now.DayOfWeek.ToString();
            string message = greeting + day;
            
        }
        <p>@message</p>
        @if(ViewBag.Something!=null) {
            <p>@ViewBag.Something.SomeProperty</p>
            <p>@ViewBag.Anything</p>
            <p>@ViewData["SomeKey"]</p>
        }
        <p>Page visits: @Session["VisitCount"]</p>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
