﻿
@{
    ViewBag.Title = "Index";
}

<h2>Manual Fake Authentication</h2>

<p>USERID IS @Session["UserID"]</p>
<p>@Html.ActionLink("PROTECTED", "Secret")</p>
<p>@Html.ActionLink("LOG IN", "Login")</p>
<p>@Html.ActionLink("LOG OUT", "Logout")</p>

