﻿
@{
    ViewBag.Title = "Chart";
}

<h2>Chart</h2>

@if(ViewBag.Names != null && ViewBag.Names.Length != 0) {
    //ASP.NET WEB FORMS HELPER
    new Chart(600, 400).AddTitle("Employees")
        .AddSeries(chartType: "column", xValue: ViewBag.Names, yValues: ViewBag.Values).Write();
} else {
    <p>No data found</p>
    <!-- should not do it this way-->
    <p>ID: @ViewContext.RouteData.Values["id"]</p>
    <p>NAME: @Request["name"]</p>
}

