﻿@model WebLayer.Models.DeptModel



<h2>Add/Edit Department</h2>

@using(Html.BeginForm(ViewData["TargetAction"].ToString(),"Crud")) {
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.deptno);
    <div class="editor-label">@Html.LabelFor(m=>m.dname)</div>
    <div class="editor-field">@Html.EditorFor(m=>m.dname)</div>

    <div class="editor-label">@Html.LabelFor(m => m.loc)</div>
    <div class="editor-field">@Html.EditorFor(m => m.loc)</div>

    <input type="submit" name="name" value="SEND" />
}
