﻿@model WebLayer.Models.DeptModel

@{
    ViewBag.Title = "CrudDatasheet";
}

<h2>CrudDatasheet</h2>

@Html.ActionLink("Back to the list","Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m=>m.deptno)</td>
        <td>@Html.DisplayFor(m=>m.deptno)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.dname)</td>
        <td>@Html.DisplayFor(m => m.dname)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.loc)</td>
        <td>@Html.DisplayFor(m => m.loc)</td>
    </tr>
</table>

